@model ASPapi.Models.CurrentMenu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CurrentMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dessert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dessert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainDish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainDish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondDish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondDish)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
